body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.bg{
    background: url("https://www.shutterstock.com/image-vector/3d-background-products-display-podium-260nw-2134975069.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    
}
.form-container {
    background-color: rgba(10, 3, 3, 0);
    filter:brightness(12px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
      
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.name-section,
.address-section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.name-section select,
.name-section input,
.address-section input {
    flex: 1;
}

.checkbox-section {
    display: flex;
    align-items: center;
}
